* {
    font-family: Arial, Helvetica, sans-serif;
}

.baselayer{
    background-color: #245076;
    width: 970px;
    padding: 30px 0px 0px 0px;
    margin: auto;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.headerBoxLeft{
    display: inline-block;
    vertical-align: middle;
    margin-right: 100px;
}

.headerBoxRight{
    display: inline-block;
}

img.logo{
    width: 400px;
    vertical-align: middle;
}

.fontSize{
    display: block;
    width: 300px;
    font-size: small;
    text-align: right;
    color: white;
}

a.font{
    color: #dbbf40;
}

.search{
    display: block;
    width: 300px;
    background-color: #444444;
    border-radius: 5%;
    padding: 15px 5px;
    box-shadow: 2px 2px black;
}

.searchBar{
    text-align: center;
}

input[id="search"]{
    font-size: 20px;
    border: 2px outset;
}

input[id="button"]{
    background-color: #245076;
    border-radius: 10px;
    border: 1px inset silver;
    color: white;
    height: 25px;
}

.navBar{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(#3977ad, #487eac, #3977ad);
    /* background-color: cornflowerblue; */
    box-shadow: 2px 2px black;
    color: white;
    font-size: large;
    margin: 10px 40px;
    padding: 10px 20px;
    border-radius: 5px;
}

.navItems{
    display: inline;
}

a.nav{
    color: white;
    text-decoration: none;
}

a.nav:hover{
    color: black;
}

.overview{
    width: 100%;
    color: white;
    text-align: center;
    border-bottom: 2px solid black;
}

.links{
    display: inline-block;
    padding: 20px 10px;
    color: white;
    line-height: 1.5em;
    font-size: large;
}

a.side{
    color: white
}

.description{
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.accent{
    color: #dbbf40;
    font-style: italic;
    font-size: x-large;
    line-height: 1.5em;
}

.middleBar{
    width: 100%;
    padding-top: 20px;
    background-color: white;
    text-align: center;
}

.panels{
    display: inline-block;
    justify-content: space-between;
    width: 40%;
    margin: 0 20px;
    border-top: 5px solid lightblue;
    vertical-align: top;
    text-align: center;
}

.reference{
    color: lightblue;
}

a.small{
    color: lightblue;
    text-decoration: none;
    font-size: 20px;
}

a.small:hover{
    color: black;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(#245076, #3272a9);
    padding: 30px;
}

.footerLinks{
    display: inline;
    vertical-align: bottom;
}